@media screen and (max-width: 576px) {
    /* navbar styles */
    .navbar{
        /* margin: 50px 20px 0px; */
        padding: 50px 20px 0px;
    }

    .nav-options{
        display: none;
    }

    .menu{
        display: block;
        color: white;
        font-size: 1.125rem;
        font-weight: 600;
    }

    /* banner styles */
    .banner{
        flex-direction: column;
        align-items: start;
        /* margin: 50px 20px 0px; */
        padding: 50px 20px 0px;

    }

    .banner-info h1{
        font-size: 2.25rem;
    }

    .shape{
        font-size: 2.25rem;
    }

    .banner-info p{
        width: 274px;
        height: 96px;
    }

    .banner-btn{
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    .jcn{
        display: none;
    }

    .jn{
        display: block;
    }

    .workout-videos{
        width: 145.91px;
        height: 74.09px;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 9.07px;
        backdrop-filter: blur(15.12px);
        top: 47.6px;
        right: 12.89px;
    }

    .workout-videos h4{
        font-size: 1.89rem;
    }

    .workout-videos p{
        font-size: 9.83px;
    }

    .videos-tutorial{
        width: 155.74px;
        height: 72.58px;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 9.07px;
        backdrop-filter: blur(15.12px);
        top: 271.38px;
        left: 12px;
    }

    .circle{
        width: 30px;
        height: 30px;
    }


    .videos-tutorial h4{
        font-size: 1.125rem;
        font-weight: 900;
    }

    .videos-tutorial p{
        font-size: 12px;
    }

    /* habits section styles */
    .habits-container{
        margin-top: 450px;
    }
    .habits-text h1{
        font-size: 2rem;
    }
    .habits-cards{
        flex-direction: column;
        gap: 36px;
    }
    .habits-card{
        display: flex;
        flex-direction: column;
    }

    /* run section styles */
    .run-container{
        max-width: 353px;
        /* margin: 0 20px; */
        margin-top: 66px;
    }

    .run-content{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 31px 33px 35px;
    }

    
    .run-text h1{
        font-size: 2rem;
    }

    .run-text p{
        margin: 14px 0px 24px; 
    }

    .run-text button{
        padding: 16px 100px;
    }

    .run-img img{
        max-width: 287px;
        height: 170px;
        margin-top: 31px;
    }
    
    /* team section styles */
    .team-container{
        margin-top: 66px;
    }

    .team-text h1{
        font-size: 2rem;
    }

    .team-text p{
        margin: 14px 0px 37px;
    }

    .team-cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .team-card{
        max-width: 313px;
    }

    /* footer styles */
    .footer-container{
        /* max-width: 393px; */
        height: 986px;
    }

    .footer-content{
        flex-direction: column;
        gap: 20px;
    }

    .footer-options{
        margin-top: 30px;
    }

    hr{
        width: 354px;
        border: 2px solid rgba(255, 255, 255, 0.1);
    }
}


